@CHARSET "ISO-8859-1";

body 
{
	background: #006020;
	padding : 0;
	margin : 0;
	color: #FFF;
}

div {
	width : 100%;
	border: none;
}

#global 
{
	width : 100%;
	min-width : 1024px;
}

#logPanel {
	height : 55px;	
	
	border-bottom: 10px solid #006020;
	background-color : #008949;
}

#centralPanel {
	min-height : 600px;
	max-Height : 1200px;
	border-top: 2px solid #008949;	
	min-width : 800px;
	width : 75%;
	float : left; 
}

#leftPanel {
	min-height : 600px;
	max-Height : 1200px;
	border-top: 2px solid #008949;
	max-width : 236px;
	width : 20%;
	float : right;
}


#footerPanel {
	clear : both;
	height : 125px;
	background-color : #006020;
	border-top: 10px solid #008949;
}

.news {
	width : 250px;
	float : left;
	border : 1px solid #008949;
	padding : 2px;
}

.newsTitle {
	width : 250px;
	height: 25px;
	text-align: center;
}

.newsContent {
	width : 250px;
	min-hegth : 250px;
	text-align: justify;		
}